@model HistoryWebsite.Models.Result

@{
    ViewBag.Title = "Result";

    var item = Model;

}

<h3>Quiz Result</h3>

<img class="align-center articleImage" src="@Url.Action("GetImage", "Quiz", new { id = item.ImageId })" />
<br/>
@if(item.QuizId == 1)
{ 
    <p class="description align-center">You scored @ViewBag.QuizScore out of 10.</p>
    <br />
}
<p class="description align-center">@Html.Raw(@item.Text)</p><br />
<br />


